{% extends 'base.html' %}
{% block body %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-4 mt-5">
            <h3 class="card-title text-center" style="color:white; font-weight: bold;">ADD NEW TASK </h3><br><br>
            <form  method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder=" " required>
                    <label for="task" class="label-name">
                        Task:
                    </label>
                </div>
              
                <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder=" " required>
                    <label for="description" class="label-name">
                        Description:
                    </label>
                </div><br>
              
                <center>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary btn-icon-text">
                        <i class="mdi mdi-content-save btn-icon-prepend"></i>SAVE
                    </button>
                </div>
                </center>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% endblo