body {
    background-attachment: fixed;
    background-size: 100% 500px;
}

nav {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
}

nav .nav-link {
    color: white;
    text-transform: uppercase;
}

nav .navbar-brand {
    color: rgb(250, 0, 0);
}